<div class="my-container">
  <div class="my-card">
      <div class="my-menu-title">Our Donuts</div>
      <div class="my-card-items">
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin2.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin3.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin4.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin5.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin7.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin9.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin11.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin12.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin13.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin14.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin15.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin19.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin20.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin21.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin22.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin23.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo"<%= image_tag "cabin24.jpg", width: 100, alt: "profile image", class: 'profile-img' %>
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>