<!DOCTYPE html>
<html>
  <head>
    <title>Cabin</title>
    <%= render 'shared/nav' %>
    <%= render "shared/footer" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="wite-wrapper-inner">
        <div class="cover-container">
        </div>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
